{% extends 'base.html.twig' %}

{% block title %}Nouveau Panier{% endblock %}

{% block body %}
    <h1>Créer un nouveau Panier</h1>

    {{ include('panier/_form.html.twig') }}

    <a href="{{ path('panier_index') }}">Retour à la liste</a>
{% endblock %}
