{% extends 'base.html.twig' %}

{% block title %}Ajout au panier{% endblock %}

{% block body %}
    <h1></h1>
    <div class="bg-light p-3">
        <h1>Ajouter le produit dans le panier</h1>
    </div>

    {{ include('contenu_panier/_form.html.twig') }}

    <a href="{{ path('contenu_panier_index') }}">Retour à la liste</a>
{% endblock %}
